/* STYLES ----------------------------------
1. Global settings (resets such as border-box)
2. Typography (headings, paragraphs, lists, buttons)
3. Layout structure (body, header, footer, sidebar)
4. Content blocks (cards, tables, forms, calls-to-action block)
5. General classes (.clear, .center, .right, .left, .big-margin, etc.)
6. Page-specific (styles specific to individual locations)
-----------------------------------------------------*/

/*  ================ 
    TICKET HERO
    ================ */

.body {
  background-color: #010626;
}

.hero h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  background-color: #000c5a;
  padding: 1.5em;
  border-bottom: 1em solid #7eeafb;
  border-radius: 0.8em;
  color: #8b9dfd;
  width: 75%;
  margin: auto;
}

.hero h3 {
  text-align: center;
  font-size: 1.8rem;
  width: 95%;
  padding: 1.8em 0 1.5em 0;
  margin: auto;
}

.hero p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #8b9dfd;
  border-radius: 1.8rem;
}

.hero img {
  width: 80%;
  height: 15em;
  margin: 3em 0 4em 2.45em;
}

.hero a {
  background-color: #000c5a;
  color: #8b9dfd;
  text-align: center;
  border: 0.3em solid #7eeafb;
  border-radius: 0.8rem;
  padding: 0.8em 3.2em 0.8em 3.2em;
  margin: 1em 0 0 1.1em;
  position: relative;
  top: -1.5em;
  right: -5.5em;
}

/*  ==============
    TICKET-FORM 
    ============== */

.ticket-form {
  font-size: 1.8rem;
  text-transform: capitalize;
}

.ticket-form h3 {
  color: #7eeafb;
  text-align: center;
  font-size: 1.8rem;
  border: 0.1em solid #000c5a;
}

.ticket-form input {
  background-color: #010626;
  margin: 0.1em 0 0.5em 0;
  color: #7eeafb;
}

.ticket-form form {
  background-color: #000c5a;
  color: #7eeafb;
}

form label {
  display: block;
  margin: 1em 0 1em 0;
  padding: 0.1em 0 0.1em 0;
}

input.reset,
input.submit {
  display: block;
  padding: 0.8em 1.6em 0.8em 1.6em;
  border-radius: 0.5em;
}

input.submit {
  top: -2.15em;
  right: -19.5em;
  position: relative;
  background-color: #010626;
  border: 0.2em solid#7EEAFB;
  color: #7eeafb;
}

input.reset {
  right: -1.5em;
  top: 1.5em;
  position: relative;
  border: 0.2em solid #8b9dfd;
  background-color: #010626;
  color: #8b9dfd;
}

legend {
  text-align: center;
}

form p {
  font-size: 1rem;
  text-align: center;
  margin: 3em;
}

.label-required {
  color: #b46bfa;
  font-size: 1.1rem;
}

.label-optional {
  color: #effc92;
  font-size: 1.1rem;
}

#message {
  margin: 2em 0 0 1.5em;
  height: 75%;
  display: block;
}

fieldset {
  border: 0.3em solid #7eeafb;
}

@media only screen and (min-width: 768px) {
  /*  ================ 
    TICKET HERO
    ================ */

  .body {
    background-color: #010626;
  }

  .hero h2 {
    transform: scale(0.8);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.9rem;
    background-color: #000c5a;
    padding: 1.5em;
    border: 1em solid #7eeafb;
    border-radius: 0.8em;
    color: #8b9dfd;
    width: 75%;
    margin: auto;
  }

  .hero h3 {
    color: #8b9dfd;
    border: 0.3em solid #8b9dfd;
    border-radius: 0.8em;
    text-align: center;
    font-size: 2rem;
    width: 95%;
    padding: 1.8em 2.3em 1.5em 2.3em;
    margin: 0.8em 1.1em 1.2em 1.1em;
  }

  .hero p {
    margin: 2.4em 0 3.1em 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700px;
    color: #8b9dfd;
  }

  .hero img {
    width: 80%;
    height: 20.5em;
    margin: 3em 0 10em 2.45em;
  }

  .hero a {
    background-color: #000c5a;
    color: #7eeafb;
    font-size: 2.55rem;
    text-align: center;
    border: 0.3em solid #7eeafb;
    border-radius: 0.8em;
    padding: 0.8em 3.2em 0.8em 3.2em;
    margin: 1em 0 0 1.1em;
    position: relative;
    top: -3.3em;
    right: -8.8em;
  }

  /*  ==============
        TICKET-FORM 
        ============== */

  .ticket-form {
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  .ticket-form h3 {
    color: #7eeafb;
    text-align: center;
    margin: 0.3em 0 -0.55em 0.3em;
    font-size: 1.8rem;
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    border: 0.5em solid #000c5a;
  }

  .ticket-form input {
    padding: 0 0 2.5em 1.15em;
    background-color: #010626;
    margin: 0.8em 0 0.5em 1.5em;
    color: #7eeafb;
  }

  .ticket-form form {
    background-color: #000c5a;
    color: #7eeafb;
  }

  .pepolename {
    font-size: 1.35rem;
  }

  form label {
    display: block;
    position: relative;
    top: 1.1em;
    font-size: 1.8rem;
    margin: 1em 1.2em 2em 0em;
    padding: 0.1em 0 0.1em 1.6em;
  }

  input.reset,
  input.submit {
    display: block;
    padding: 0.8em 1.6em 0.8em 1.6em;
    border-radius: 0.5em;
  }

  input.submit {
    top: -2.9em;
    right: -24.5em;
    font-size: 2.1rem;
    position: relative;
    background-color: #010626;
    border: 0.2em solid#7EEAFB;
    color: #7eeafb;
  }

  .wrapper-button {
    margin: -19.5em 0 0 0;
  }

  input.reset {
    right: -2.1em;
    top: 1em;
    font-size: 2.1rem;
    position: relative;
    border: 0.2em solid #8b9dfd;
    background-color: #010626;
    color: #8b9dfd;
  }

  fieldset {
    width: 50%;
    position: relative;
    right: -16.3em;
    top: -11.1em;
  }

  legend {
    text-align: center;
  }

  .message {
    position: relative;
    top: -25.5em;
  }

  textarea {
    background-color: #010626;
    margin: 0.8em 0 0.5em 1.5em;
    color: #7eeafb;
    position: relative;
    top: -34.5em;
    padding: 0 0 5.5em 3.15em;
  }

  p#music-fest-information {
    text-transform: uppercase;
    color: #8799ff;
    font-size: 1.8rem;
    position: relative;
    top: -18.3em;
  }

  form p {
    font-size: 1.2rem;
    text-align: center;
    margin: 2.5em;
  }

  .label-required {
    color: #b46bfa;
    font-size: 1.1rem;
  }

  .label-optional {
    color: #effc92;
    font-size: 1.1rem;
  }

  #message {
    margin: 2em 0 0 1.5em;
    height: 75%;
    display: block;
  }

  fieldset {
    border: 0.3em solid #7eeafb;
  }
}

@media only screen and (min-width: 1200px) {
  /*  ================ 
    TICKET HERO
    ================ */

  .body {
    background-color: #010626;
  }

  .hero h2 {
    transform: scale(0.8);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    background-color: #000c5a;
    padding: 1.5em;
    border: 1em solid #7eeafb;
    border-radius: 0.8em;
    color: #8b9dfd;
    width: 75%;
    margin: auto;
  }

  .hero h3 {
    color: #8b9dfd;
    border: 0.3em solid #8b9dfd;
    border-radius: 0.8em;
    text-align: center;
    font-size: 1.6rem;
    width: 95%;
    padding: 1.8em 2.3em 1.5em 2.3em;
    margin: 0.8em 1.1em 1.2em 1.1em;
  }

  .hero p {
    margin: 2.4em 0 3.1em 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700px;
    color: #8b9dfd;
  }

  .hero img {
    position: absolute;
    right: 11.1em;
    top: 62.5em;
    width: 40%;
    height: 18.5em;
    margin: 3em 0 10em 2.45em;
    z-index: 2;
  }

  .hero a {
    background-color: #000c5a;
    color: #7eeafb;
    font-size: 1.65rem;
    text-align: center;
    border: 0.3em solid #7eeafb;
    border-radius: 0.8em;
    padding: 0.8em 3.2em 0.8em 3.2em;
    margin: 1em 0 0 1.1em;
    position: relative;
    top: -1em;
    right: -27.8em;
  }

  /*  ==============
        TICKET-FORM 
        ============== */

  .ticket-form {
    transform: scale(0.9);
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  .ticket-form h3 {
    color: #7eeafb;
    text-align: center;
    margin: 0.3em 0 -0.55em 0.3em;
    font-size: 1.8rem;
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    border: 0.5em solid #000c5a;
  }

  .ticket-form input {
    padding: 0 0 2.5em 1.15em;
    background-color: #010626;
    margin: 0.8em 0 0.5em 1.5em;
    color: #7eeafb;
  }

  .ticket-form form {
    background-color: #000c5a;
    color: #7eeafb;
  }

  .pepolename {
    font-size: 1.35rem;
  }

  form label {
    display: block;
    position: relative;
    top: 1.1em;
    font-size: 1.8rem;
    margin: 1em 1.2em 2em 0em;
    padding: 0.1em 0 0.1em 1.6em;
  }

  input.reset,
  input.submit {
    display: block;
    padding: 0.8em 1.6em 0.8em 1.6em;
    border-radius: 0.5em;
  }

  input.submit {
    top: -2.9em;
    right: -42.5em;
    font-size: 2.1rem;
    position: relative;
    background-color: #010626;
    border: 0.2em solid#7EEAFB;
    color: #7eeafb;
  }

  .wrapper-button {
    margin: -19.5em 0 0 0;
  }

  input.reset {
    right: -2.1em;
    top: 1em;
    font-size: 2.1rem;
    position: relative;
    border: 0.2em solid #8b9dfd;
    background-color: #010626;
    color: #8b9dfd;
  }

  fieldset {
    width: 50%;
    position: relative;
    right: -29.3em;
    top: -3em;
  }

  legend {
    text-align: center;
  }

  .message {
    position: relative;
    top: -25.5em;
  }

  textarea {
    background-color: #010626;
    margin: 0.8em 0 0.5em 1.5em;
    color: #7eeafb;
    position: relative;
    top: -34.5em;
    padding: 0 0 5.5em 3.15em;
  }

  p#music-fest-information {
    text-transform: uppercase;
    color: #8799ff;
    font-size: 1.3rem;
    position: relative;
    right: 26.3em;
    top: -30.3em;
    margin: 3;
  }

  form p {
    font-size: 1.2rem;
    text-align: center;
    margin: 2.5em;
  }

  .label-required {
    color: #b46bfa;
    font-size: 1.1rem;
  }

  .label-optional {
    color: #effc92;
    font-size: 1.1rem;
  }

  #message {
    margin: 2em 0 0 1.5em;
    height: 75%;
    display: block;
  }

  fieldset {
    border: 0.3em solid #7eeafb;
  }
}
