/* STYLES ----------------------------------
1. Global settings (resets such as border-box)
2. Typography (headings, paragraphs, lists, buttons)
3. Layout structure (body, header, footer, sidebar)
4. Content blocks (cards, tables, forms, calls-to-action block)
5. General classes (.clear, .center, .right, .left, .big-margin, etc.)
6. Page-specific (styles specific to individual locations)
-----------------------------------------------------*/

/* ===============
    GLOBAL SETTINGS
   =============== */

   * {
    box-sizing: border-box;
}



/* ===============
    TYPOGRAPHY
     =============== */

p, h1, h2, h3, h4, h5, a {
    text-transform: capitalize;
}

body {
    font-size: 0.8rem;
    font-family: 'Oxygen', sans-serif;
}

a {
    color: #7EEAFB;
    text-decoration: none;
}

h2 {
    font-size: 1.6rem;
    color: #7EEAFB;
}

i {
    padding: 10% 50% 10% 50%;
    display: block;
    text-align: center;
    transform: scale(2.00);
}


p {
    font-size: 1.0rem;
    color: #8B9DFD;
}

ul a {
    list-style-type: none;
    font-size: 8.5rem;
}






/* snippet taken from  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_bullet_color */
ul li::before {
    color: #7EEAFB;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

    /* ===============
    STRUCTURE
     =============== */


html {
    font-size: 62.5%;
}

.wrapper-width {
    width: 100%;
    margin: auto;
    overflow: auto;

}



body {
    font-size: 1.6rem;
    background-color: #010626;
    color: #8B9DFD;
    margin: 0;
}

/* =============
    CONTENT BLOCKS
    ============ */

iframe {
    width: 10%;
    height: 25%;
}

/* this is primarly used for testing purposes and should be deleted/removed after editing header/footer selectors or
 the [name]-style inputs. */ 

img {
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}



    /* ===============
        HEADER
     =============== */

header .wrapper-width {
    width: 100%;
}

nav {
    margin: auto;
    width: 90%;
}

.header-links {
    display: flex;
    flex-direction: column;

}

header img {
    /* width: 1.5em; */
    /* height: 0.6em; */
    padding: 10px;
}


    /* ===========
        DROPDOWN 
    ============== */

/* Most code snippets are taken from:
https://www.javatpoint.com/how-to-create-dropdown-list-using-javascript#:~:text=The%20tab%20is%20used,items%20and%20links%20inside%20it.
  */

.dropdown {
    margin-left: 0.6em;
}

.show {
    display: block;
}

#nav-items {
    display: none;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4C4CE1;
    min-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #4C4CE1(228, 220, 220, 0.2);
}

.dropdown a:hover {
    background-color: #4F9EF3;
}

    
.dropdown-options a {
    display: block;
    text-decoration: none;
    
}
    
.dropdown:hover .dropdown-options {
    display: block;
}

.show {
    display: block;
}

/* ===============
    FOOTER
    =============== */

.footer-logo a {
    width: 6em;
    height: 6em;
}

.footer-logo img {
    width: 6em;
    height: 6em;
}

footer {
    overflow: auto;
}

/* Class Selectors */

/* footer and header sections */

header .wrapper-width {
    width: 100%;
    
}
nav {
    margin: auto;
}

.header-links {
    position: relative;
}

.dropdown-options {
    background-color: #010626;
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-options a {
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-options {
    display: block;
}

footer {
    overflow: auto;
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1200px) {
.wrapper-width {
    max-width: 1170px;

}

}

