

/* == HERO == */
.hero {
    overflow: auto;
}


#background-video {
    width: 10vw;
    height: 10vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.video-filter {
    background-color: #8B9DFD;
    opacity: 0.6;
}

/* == ABOUT US == */ 
.about-us {
    overflow: auto;
}


/* == CALL TO ACTION == */ 


.call-to-action {
    overflow: auto;
}


/* == PERFORMERS AND PERFORMANCE == */

/* == GET INVOLVED == */ 

/* == KOMOSOS SECTION == */






@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1200px) {

}