

/* == HERO == */
.hero {
    overflow: auto;
}

/* == ABOUT US == */ 
.about-us {
    overflow: auto;
}


/* == CALL TO ACTION == */ 


.call-to-action {
    overflow: auto;
}


/* == PERFORMERS AND PERFORMANCE == */

/* == GET INVOLVED == */ 

/* == KOMOSOS SECTION == */






@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1200px) {

}